<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
    <nav>
        <h6 class="footer-title">About Us</h6>
        <p>Herbal are an alternative <br>that brings you closer to nature.</p>
    </nav>
    <nav>
        <h6 class="footer-title">Contact</h6>
        <a class="link link-hover flex items-center gap-3"><img class="w-5 h-5 invert" src="icons/mail.png"
                alt="gmail" /> 6705000369@rumail.ru.ac.th</a>
        <a class="link link-hover flex items-center gap-3"><img class="w-5 h-5 invert" src="icons/location.png"
                alt="Address" /> 333/3 Watthana Bankok Thailand 10110</a>
    </nav>
    <nav>
        <h6 class="footer-title">Social</h6>
        <a class="link link-hover flex items-center gap-3"><img src="icons/facebook.png" alt="face" /> Samattha</a>
        <a class="link link-hover flex items-center gap-3"><img src="icons/line.png" alt="line" /> tongchai</a>
        <a class="link link-hover flex items-center gap-3"><img class="w-5 h-5 invert" src="icons/instagram.png"
                alt="ig" /> stt_1005</a>
    </nav>
</footer>